/* CSS Styles */

.cursor{

	cursor: pointer;

}

.cursor:hover{

	color:blue;

}

.require{

	color:red;

}
.table-responsive {

    margin-bottom: none !important;

    border: none !important;
    
}